@model IEnumerable<Cineplex.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Movies</h2>

<h3>Current Movies</h3>
<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <!--<th>
                @Html.DisplayNameFor(model => model.ComingSoon)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (!item.ComingSoon)
    { 
        <tr>
            <!--<td>
                @Html.DisplayFor(modelItem => item.ComingSoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>-->
            <td>
                <img src="@Url.Content(item.ImageUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
        </tr>
    }
}
    </tbody>
</table>

<h3>Coming Soon</h3>
<table class="table">
    <thead>
        <tr>
            <!--<th>
                @Html.DisplayNameFor(model => model.ComingSoon)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ComingSoon)
            {
                <tr>
                    <!--<td>
                        @Html.DisplayFor(modelItem => item.ComingSoon)
                    </td>-->
                    <td>
                        <img src="@Url.Content(item.ImageUrl)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
